[user]
  name = Sam Jones
  email = sam@samljones.com
	signingkey = DBBADFA8
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[alias]
  s = status
  aa = add .
  a = add
  ap = add -p
  d = diff --color
  dc = !git d --cached
  f = fetch
  co = checkout
  com = !git co master && git p
  cob = checkout -b
  c = commit --verbose
  ca = !git add -A && git commit
  ac = !git ca
  pm = pull
  p = pull -r
  ps = !git stash && git pull -r && git stash pop
  pu = push -u origin HEAD
  pf = push -f
  pt = push --tags
  r = rebase
  rs = rebase -i --autosquash
  stashall = stash save --all
  pop = stash pop
  rmaster = !git fetch && git rebase origin/master
  ri = rebase -i
  rim = rebase -i origin/master
  unstage = reset HEAD
  fix = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
  l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ln = !git l -n
  lm = !git l origin/master..
  m = merge
  mt = mergetool
  rl = reflog --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  cob = checkout -b
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  wip = !git add -A && git commit -m '!SAVEPOINT'
  undo = reset HEAD~1 --mixed
  amend = commit --amend
  aamend = !git aa && git amend
  fuckit = !git clean -d -x -f && git reset --hard
  origin = !git reset --hard $(git symbolic-ref --short -q  HEAD)
  delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  unpublish = "!git push origin :$(git branch-name)"
  exclude = "!echo >> .git/info/exclude"
  pro = "!hub pull-request"
  in = !git f && git l $(git rev-parse --abbrev-ref --symbolic-full-name @{u})
  noindex = update-index --assume-unchanged
  first-commit = rev-list --max-parents=0 HEAD
  delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[merge]
  tool = "vim -d"
[mergetool]
  prompt = false
[commit]
	gpgsign = true
[gpg]
  program = /usr/local/bin/gpg
[rerere]
  enabled = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[tag]
	gpgsign = true
[remote "heroku"]
  skipFetchAll = true
