/agora.dequecloud.com/api/npm/attest-virtual/:_auth="${DEQUE_NPM_AUTH}"
/agora.dequecloud.com/api/npm/attest-virtual/:email=${DEQUE_NPM_EMAIL}
/agora.dequecloud.com/api/npm/attest-virtual/:always-auth=true
